/** Start embedded styles **/

* {
	box-sizing: border-box;
}

html {
	position: relative;
}

a {
	text-decoration: none;
}

a:link {
    color: #777;
}

a:visited {
    color: #777;
}

a:hover {
    color: #333;
}

a:active {
    color: #333;
}


body {
	padding: 0;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
	background: url(../images/escheresque_ste.png) #666;
	background-repeat: repeat;
    margin: 0 auto;
    line-height: 150%;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
}

h3 {
	padding-top: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

p {
	margin-top: 33px;
	text-align: left;
}

/** sticky footer bonus **/
footer {
    clear: both;
    background-color: #666666;
    width: 100%;
    height: 80px;
    position: fixed;
    border-top: 8px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 80px;
    left: 0;
    bottom: 0;
    z-index: 2;
}

/** End embedded styles **/

/** Start class styles **/

.header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 100%;
	height: 90px;
	border-bottom: solid;
	border-color: #ccc;
	overflow: hidden;
	z-index: 2;
}

.name {
	position: absolute;
	top: 0;
	left: 10%;
	color: #fff;
	text-align: center;
	background-color: #4aaaa5;
	max-width: 30%;
	height: 100%;
	padding: 30px;

}

.nav {
	position: absolute;
	top: 0;
	right: 5%;
	text-align: right;
	color: #777777;
	max-width: 90%;
	margin-top: 30px;
	height: 100%;
	overflow: auto;
}

.container {
	position: relative;
	display: inline-block;
}

.aboutme, 
.portfolio,
.contact {
	position: absolute;
	float: left;
	left: 10%;
	background-color: #fff;
	margin-bottom: 200px;
	padding: 30px;
	max-width: 60%;
	text-align: center;
	z-index: 1;
	overflow: hidden;
	display: inline-block;
}	

.connect {
	position: absolute;
	float: left;
	right: 5%;
	background-color: #fff;
	max-width: 20%;
 	max-height: 130%;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	z-index: 1;
}

.resize1 {
	max-width: 23%;
	max-height: 23%;
}

.resize {
	max-width: 25%;
	max-height: 25%;
}


.wrapper {
	max-width: 970px;
	margin: 120px auto 0 auto;
	overflow: auto;
}

.container {
	overflow: auto;

}

.img1 {
	float: left;
	max-width: 100%;
	max-height: 100%; 
	margin-top: 40px;
	margin-right:35px; 
	margin-bottom: 20px;
	display: block;
}

.banner1 {
    position: absolute;
    left: 0;
    top: 21.6%;
    padding-top: 60px;
    padding-right: 208px; 
    background-color: #4aaaa5;
    text-align: center;
    color: #fff;
}

.img2 {
	float: left;
	max-width: 100%;
	max-height: 100%; 
	margin-top: 40px;
	margin-right:35px; 
	margin-bottom: 20px;
	display: block;
}

.img3  {
	float: left;
	max-width: 100%;
	max-height: 100%;
	margin-top: 40px;
	margin-right:35px; 
	margin-bottom: 20px;
	display: block;
}

.img4  {
	float: left;
	max-width: 100%;
	max-height: 100%;
	margin-top: 40px;
	margin-right:35px; 
	margin-bottom: 20px;
	display: block;
}

.img5  {
	float: left;
	max-width: 100%;
	max-height: 100%;
	margin-top: 40px;
	margin-right:35px; 
	margin-bottom: 20px;
	display: block;
}

.img6  {
	float: left;
	max-width: 100%;
	max-height: 100%; 
	margin-top: 40px;
	margin-right:35px; 
	margin-bottom: 20px;
	display: block;
}

.img1 {
	background-color: 
}

/** End class styles **/

/** Start id styles **/

#bioimage {
	float: left;
	padding-right: 20px;
	padding-top: 30px;
	max-width: 45%;
	max-height: 45%;
}

/**End id styles **/

/** Start hover styles **/

/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: grayscale(100%);
}
